.orangeBackground {
  background: var(--v-accent-base) !important;
  color: var(--v-secondary-base) !important;
  transition: all 300ms;
}
.orangeBackground:hover {
  background: var(--v-accentHover-base) !important;
}

.animate {
  transition-delay: 0.1s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.fadeIn {
  opacity: 0;
  transform: scale(0.8);
}

.slideInFromLeft {
  transform: translateX(-4rem);
  opacity: 0;
}

.slideInFromRight {
  transform: translateX(4rem);
  opacity: 0;
}

.slideInFromBottom {
  transform: translateY(4rem);
  opacity: 0;
}

.fadeIn.animate-active,
.slideInFromLeft.animate-active,
.slideInFromRight.animate-active,
.slideInFromBottom.animate-active {
  transform: translate(0);
  transform: scale(1);
  opacity: 1;
}

.activePanel#panel {
  border-radius: 0 !important;
}
