@import "./config.scss";

@mixin flexbox($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
@mixin boxSize($size) {
    width: $size;
    height: $size;
}
@mixin fontSize() {
    font-size: map-get($font-sizes, normal);
    @media (max-width: $font-size-breakpoint) {
        font-size: map-get($font-sizes, small);
    }
}
